/* 
body {
    font-family: -apple-system !important;
}

.btn{font-family: -apple-system !important; font-weight: 800;}
.navbar-nav .nav-link.signup-btn{font-family: -apple-system !important; font-weight: 600;}
 */